<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Porfolio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="blog.css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="app2.js"></script>
  </head>
  <body>

    <!-- Nav bar -->
    <div class="">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="paule">About Me</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav  navbar-right">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>

              </ul>

              <li><a href="/blog">Blog</a></li>
              <li><a href="/jukebox">Jukebox</a></li>


             </ul>
          </div>
    </div>

  </div>

    </div>

        <br>
        <div class="col-sm-12 well">
          <div id="divContent"><img class="photo-image" src="https://mail.google.com/mail/u/0/?ui=2&ik=d2e7500657&view=fimg&th=15c62f2fba57ff83&attid=0.1&disp=inline&realattid=1568993356781977600-local0&safe=1&attbid=ANGjdJ9lPvP83Lny7OePCa3hsY2gHg5qwYT0KtNlC4npmJrUD9pDc8jOFyqiWFKTVkItJip7pf3Ph-XH02ZBp4q8HkriFVi9ahOqK49ZZgZHBTnJDuzpQqUoID9jV50&ats=1496323625013&rm=15c62f2fba57ff83&zw&sz=w1890-h1306" width="150" height="150"/>

          <h4>Introduction</h4>
          <p>  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-md-12 well">
        <center><h4>Contact</h4>

          <a href="mailto:paulemboli@gmail.com" target="_top"><img src="images/Dakirby309-Simply-Styled-Gmail.ico" style="width:42px;height:42px;border:0"></a>

          <a href="https://github.com/paulemboli">
          <img src="images/Github-PNG.png" alt="" style="width:42px;height:42px;border:0">
          </a>
          <a href="https://www.linkedin.com/in/paulemboli/">
          <img src="images/HigherEd_home_overview.jpg" alt="" style="width:42px;height:42px;border:0">
          </a></center>

        </div>


  </body>
</html>
