<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Interests</title>
	<link rel="StyleSheet" type="text/css" href= "MyStyle.css">
</head>
<body>
<%- include('navbar') %>


	<div class="banner">
		<img class="banner-image" src = "https://c1.staticflickr.com/3/2611/3799614350_4d365687d3_b.jpg">
		<div class="aboutme"><p> <p> Beach </p> "I would like to vist these places..."</p></div>
	</div>
	<div style="background-color:none;color:black;padding:20px;">

		<h3>New York City </h3>
		<p>New York City Paris is one of the most populous city.</p>

		<h3>London</h3>
	  <p>London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>

		<h3>Paris</h3>
		<p>Paris is the capital and most populous city of France.</p>

		<h3>Tokyo</h3>

		<p>Tokyo is the capital of Japan, the center of the Greater Tokyo Area,
		and the most populous metropolitan area in the world.</p>

	</div>


</body>
</html>
