

<ul class="nav">
  <li>
    <a href="/">Back</a>
  </li>

  <li>
    <a href="blog">Blog</a>
  </li>

  <li>
    <a href="Mygalleries">Gallery</a>
  </li>
  <li>
    <a href="MyInterests">Interests</a>
  </li>


</ul>
