<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="StyleSheet" type="text/css" href= "MyStyle.css">
</head>
<body>

<%- include('navbar') %>


	<div class="aboutme"> Paule Boli </div>
	<div class="aboutme2"> <p>Computer Science, 2018 </p> Lehman College <p>  </div>


  <div class="aboutme2"> <p> " Some of my favorites places..."</p></div>

	<div class="banner2">
		<img class="banner-image2" src = "https://only-apartments.storage.googleapis.com/web/imgs/city/Paris_Small.jpg">

		<div class="aboutme1"> Eiffel Tower, Paris </div>

		<img class="banner-image3" src = "http://media.collegetimes.com/uploads/2016/04/20040149/nyc.jpg">

		<div class="aboutme1"> New York City </div>

		<img class="banner-image3" src = "http://cdn.pcwallart.com/images/tokyo-tower-wallpaper-4.jpg">

		<div class="aboutme1"> Tokyo Tower</div>

	</div>

	<div class="aboutme1">  </div>



	<div class="footer"><center>Copyright &copy; Paule Boli,2017</center></div>
</body>
</html>
